<!-- Custom HTML site displayed as the Home chapter -->

{% extends "base.html" %}
{% block extrahead %}
  <style>
    .md-header[data-md-state=shadow] {
      box-shadow: none !important;
    }
    .md-main, .md-footer__inner { 
      display : none !important;
    }
  </style>
{% endblock %}

{% block tabs %}
{{ super() }}
<section>
  <style>

  .homecontainer p {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }

  .homecontainer h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }

  .homesection {
    min-height: 100vh;
    background-color: #16161c;
    background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(33, 33, 45, 0.6) 27%, rgba(33, 33, 45, 0) 51%, #16161c), url('../images/buildBackground.svg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, 1320px;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    font-family: Lato, sans-serif;
    color: #fff;
    padding: 64px;
  }

  .homecontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 61rem;
    margin: 0 auto;
  }

  .contentwrapper {
    width: 50%;
  }

  .button {
    margin-top: 12px;
    padding: 16px 24px;
    border-radius: 4px;
    color: var(--md-primary-bg-color);
    border : 1px solid var(--md-primary-bg-color);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    width: 196px;
    text-align: center;
    white-space: nowrap;
  }

  .get-started.button {
    color : var(--md-primary-bg-color);
    background-color: var(--md-primary-fg-color);
    border-color : var(--md-primary-fg-color);
  }

  .button:hover {
    background-color: var( --md-primary-fg-color--dark );
  }

  .imagewrapper {
    pointer-events: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
  } 
  .imagewrapper > img {
      margin: auto;
    }

  .button-holder {
    display : flex;
    justify-items: flex-start;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  @media screen and (max-width: 991px) {
    .homecontainer {
      padding-bottom: 0px;
    }
  }

  @media screen and (max-width: 767px) {

    .homesection {
      background-position: 0px 0px;
      background-size: auto;
      background-repeat: repeat;
      background-attachment: scroll;
      padding: 16px;

    }

    .homecontainer {
      padding-top: 80px;
      padding-right: 16px;
      padding-left: 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }

    .contentwrapper {
      width: 100%;
    }

    .imagewrapper {
      width : 100%;
    }
    .imagewrapper > img {
      max-width: 80vw;
      max-height: 30vh;
      margin: auto;
    }
    .button-holder {
      justify-content: center;
    }
  }

  @media screen and (max-width: 479px) {
    .imagewrapper > img{
      max-width: 80vw;
      max-height: 30vh;
      margin: auto;
    }

    .homecontainer h1 {
      font-size: 24px;
      line-height: 32px;
    }
    .button-holder {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  </style>
  <div class="homesection wf-section">
    <div class="homecontainer w-container">
      <div class="contentwrapper">
        <h1>Build Your Interfaces with Our Powerful &amp; Extensible Plugin-Based React Framework</h1>
        <p>Leverege Build provides a set of standardized plugins for key features, enables you to custom develop and add plugins of your own to extend functionality using our react-based plugin framework, Molten, and ensures the right look and feel across the entire application with a global theming engine.</p>
        <div class="button-holder">
          <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="get-started button w-button"> Let's Get Started </a>
          <a href="https://www.leverege.com/iot-stack/overview" target="_blank" class="button w-button">User Configuration</a>
          <a href="https://www.leverege.com/iot-stack/overview" target="_blank" class="button w-button">IoT Stack Overview</a>
        </div>
      </div>
      <div class="imagewrapper"><img src="images/buildStackImage.svg" loading="lazy" alt=""></div>
    </div>
  </div>
</section>

{% endblock %}
{% block content %}{% endblock %}
{% block main %}{% endblock %}
